{#<nav class="main-nav-outer navbar navbar-light bg-light" id="test"><!--main-nav-start-->#}
{#    <div class="container">#}
{#        <div class="navbar-header">#}
{#            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"#}
{#                    data-target="#onhoutnav" aria-expanded="false">#}
{#                <span class="sr-only">Toggle navigation</span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#                <span class="icon-bar"></span>#}
{#            </button>#}
{#            <a class="navbar-brand visible-xs" href="#">#}
{#                Onhout Inc#}
{#            </a>#}
{#        </div>#}
{#        <div class="collapse navbar-collapse" id="onhoutnav">#}
{#            <ul class="main-nav">#}
{#                <li><a href="#header">Home</a></li>#}
{#                <li><a href="#service">Services</a></li>#}
{#                <li><a href="#Portfolio">Portfolio</a></li>#}
{#                <li class="small-logo hidden-xs hidden-sm hidden-md">#}
{#                    <a href="/#header">#}
{#                        <img src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/onhout-n.png" alt="">#}
{#                    </a>#}
{#                </li>#}
{#                <li><a href="#team">Team</a></li>#}
{#                <li><a href="#contact">Contact</a></li>#}
{#                <li><a class="link" href="/blog/">Blog</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</nav><!--main-nav-end-->#}

<nav class="main-nav-outer navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand d-sm-none" href="#">Onhout Inc</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto main-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#header">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#service">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#portfolio">Portfolio</a>
            </li>
{#            <li class="nav-item">#}
{#            <li class="nav-item small-logo d-none d-md-block">#}
{#                <a href="/#header">#}
{#                    <img src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/onhout-n.png" alt="">#}
{#                </a>#}
{#            </li>#}
            <li class="nav-item">
                <a class="nav-link" href="/#team">Team</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog/">Blog</a>
            </li>
        </ul>
    </div>
</nav>