{% extends "base.html" %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

    {% include 'home/parts/header.html' %}



    <section class="main-section section-odd" id="service"><!--main-section-start-->
        {% include 'home/parts/services.html' %}
    </section><!--main-section-end-->


    <section class="main-section section-even"><!--main-section alabaster-start-->
        {% include 'home/parts/featured.html' %}
    </section><!--main-section alabaster-end-->


    <section class="main-section section-odd paddind" id="portfolio"><!--main-section-start-->
       {% include 'home/parts/portfolio.html' %}
    </section><!--main-section-end-->

    <section class="main-section section-even team" id="team"><!--main-section team-start-->
        {% include 'home/parts/team.html' %}
    </section><!--main-section team-end-->

    <section class="main-section contact section-odd" id="contact">
      {% include 'home/parts/contactus.html' %}
    </section>

{% endblock %}