# This file is controlled by the `eb-fix-npm` Node module. If you'd like to
# modify it, you either should publish a new version of that module and update
# to that version; or, you should uninstall that module and then edit this file
# --uninstallation won't take the file with it.

# This file contains fixes for npm. Node is installed using a hook called
# "40install_node.sh" and `npm install` is run using a hook called "50npm.sh",
# so npm setup should be done in hooks beginning with "4x" (x > 0)
# and cleanup should be done in hooks beginning with "5x" (x > 0).

files:
# Use 70 so this runs after AWS scripts
  /opt/elasticbeanstalk/hooks/appdeploy/pre/44install_node6.sh:
    mode: "000755"
    user: root
    group: root
    encoding: plain
    content: |
      #!/usr/bin/env bash
      NODE_V=6.2.0

      # Use the default node install dir
      cd /opt/elasticbeanstalk/node-install
      node --version | grep ${NODE_V}
      if [[ $? != 0 ]] ; then
        wget http://nodejs.org/dist/v$NODE_V/node-v$NODE_V-linux-x64.tar.gz
        tar -zxvf node-v$NODE_V-linux-x64.tar.gz
        cd node-v$NODE_V-linux-x64
        # cp bin/* /usr/local/bin
        # cp -R lib/* /usr/local/lib
        # cp -R share/* /usr/local/share
      fi

      # Update path in nodejs upstart config to point at new node env
      sed -i "s/\(env NODE_HOME=\)\(.*$\)/\1\"\/opt\/elasticbeanstalk\/node-install\/node-v$NODE_V-linux-x64\"/g" /tmp/deployment/config/#etc#init#nodejs.conf

      # Create symlinks, overwrite existing links if they exist
      ln -s -f "/opt/elasticbeanstalk/node-install/node-v$NODE_V-linux-x64/bin/node" /usr/local/bin/node
      ln -s -f "/opt/elasticbeanstalk/node-install/node-v$NODE_V-linux-x64/bin/npm" /usr/local/bin/npm