packages:
  yum:
    gcc: []
    gcc-c++: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql94: []
    postgresql94-devel: []
    git: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "onhout.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "onhout/wsgi.py"
container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_createsu:
        command: "python manage.py createsu"
    03_npm_build:
        command: "npm install"
    04_npm_install_global_webpack:
        command: "npm install webpack webpack-cli gulp-cli -g"
    05_npm_run_build_prod:
        command: "npm run build"
commands:
    050-node-script-installer:
        command: "curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -"
        test: "[ ! -x /usr/bin/node ]"
    075-install_nodeJS:
        command: "yum -y install nodejs gcc-c++ make"
        test: "[ ! -x /usr/bin/node ]"
    100-replace-node:
        command: "mv node node.old && ln -s /usr/bin/node node"
        cwd: "/opt/elasticbeanstalk/node-install/node-v4.4.3-linux-x64/bin"
        test: "[ ! -x /opt/elasticbeanstalk/node-install/node-v4.4.3-linux-x64/bin/node.old ]"
    100-replace-npm:
        command: "mv npm npm.old && ln -s /usr/bin/npm npm"
        cwd: "/opt/elasticbeanstalk/node-install/node-v4.4.3-linux-x64/bin"
        test: "[ ! -x /opt/elasticbeanstalk/node-install/node-v4.4.3-linux-x64/bin/npm.old ]"