packages:
  yum:
    gcc: []
    gcc-c++: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql94: []
    postgresql94-devel: []
    git: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "onhout.settings.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "onhout/wsgi.py"
container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_createsu:
        command: "python manage.py createsu"
    03_npm_build:
        command: "npm install"
    04_npm_install_global_webpack:
        command: "npm install webpack webpack-cli gulp-cli -g"
    05_npm_run_build_prod:
        command: "npm run build"