packages:
  yum:
    gcc: []
    gcc-c++: []
    libffi-devel: []
    libjpeg-turbo-devel: []
    libpng-devel: []
    postgresql94: []
    postgresql94-devel: []
    git: []
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "onhout.settings.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "onhout/wsgi.py"
commands:
    01_node_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
        command: 'curl -O https://nodejs.org/dist/v6.11.0/node-v6.11.0.tar.gz
        && tar -xvf node-v6.11.0.tar.gz
        && rm node-v6.11.0.tar.gz
        && cd node-v6.11.0.tar.gz
        && ./configure
        && make
        && sudo make install'
    02_node_check:
        cwd: /tmp
        test: '[ ! -f /usr/bin/node ] && echo "node symlink not linked"'
        command: 'sudo ln -s /usr/local/bin/node /usr/bin/node && sudo ln -s /usr/local/lib/node /usr/lib/node'
    03_npm_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
        command: 'sudo ln -s /usr/local/bin/npm /usr/bin/npm'
    04_node_update:
        cwd: /tmp
        test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
        command: 'npm install -g n && n stable'
container_commands:
    01_migrate:
        command: "python manage.py migrate"
        leader_only: true
    02_createsu:
        command: "python manage.py createsu"
    03_npm_build:
        command: "npm install"
    04_npm_install_global_webpack:
        command: "npm install webpack webpack-cli gulp-cli -g"
    05_npm_run_build_prod:
        command: "npm run build"