<div class="container">
    <h2>Contact us</h2>
    <div class="row">
        <div class="col-xl-7 col-lg-6 wow fadeInLeft">
            <div class="contact-info-box address clearfix">
                <h3><i class="fa fa-map-marker"></i>Address:</h3>
                <span>100 Pringle Ave<br>Walnut Creek, California, 94596.</span>
            </div>
            <div class="contact-info-box phone clearfix">
                <h3><i class="fa fa-phone"></i>Phone:</h3>
                <span>1-510-480-0020</span>
            </div>
            <div class="contact-info-box email clearfix">
                <h3><i class="fa fa-pencil"></i>email:</h3>
                <span>peterliu@onhout.com</span>
            </div>
            <ul class="social-link">
                <li class="github-btn"><a href="#" class="fa fa-github"></a></li>
                <li class="facebook-btn"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="gplus-btn"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
        <div class="col-xl-5 col-lg-6 wow fadeInUp delay-05s">
            <div class="form">

                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="{% url 'send_message' %}" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="name" class="form-control input-text" id="name"
                               placeholder="Your Name" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control input-text" name="email" id="email"
                               placeholder="Your Email" required/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control input-text" name="subject" id="subject"
                               placeholder="Subject" required/>
                    </div>
                    <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5"
                                      required placeholder="Message"></textarea>
                    </div>
                    {% csrf_token %}

                    <div class="g-recaptcha" data-sitekey="6LdNvyQUAAAAAMzWQSk3iEQ1m1aQt_vOM3kGyF19"></div>
                    <button type="submit" class="input-btn" style="margin-top: 10px;">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
