<div class="container">
    <h2>Contact us</h2>
    <div class="row">
        <div class="mx-auto wow fadeInLeft">
            <div class="contact-info-box address clearfix">
                <h3><i class="fa fa-map-marker"></i>Address:</h3>
                <span>Walnut Creek, California, 94598.</span>
            </div>
            <div class="contact-info-box phone clearfix">
                <h3><i class="fa fa-phone"></i>Phone:</h3>
                <span>1-510-480-0020</span>
            </div>
            <div class="contact-info-box email clearfix">
                <h3><i class="fa fa-pencil"></i>email:</h3>
                <span><a href="mailto:peterliu@onhout.com">peterliu@onhout.com</a>  </span>
            </div>
            <ul class="social-link">
                <li class="github-btn"><a href="http://github.com/onhout" class="fa fa-github"></a></li>
                <li class="facebook-btn"><a href="https://www.facebook.com/ganwei.liu.7"><i class="fa fa-facebook"></i></a></li>
                <li class="gplus-btn"><a href="https://plus.google.com/107335484172627988735"><i class="fa fa-google-plus"></i></a></li>
            </ul>
        </div>
    </div>
</div>
