<div class="container">
    <div class="row">
        <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            <img src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/web-designing-soft.png" alt="">
        </figure>
        <div class="col-lg-7 col-sm-8 featured-work">
            <h2>featured work</h2>
            <p class="padding-b">We combine our designing and web development skills to bring you the most up-to-date
                website and advertisement designs to maximize traffic flow and increase brand awareness. We offer an
                entire package catered to you and your brand.</p>
            <div class="featured-box">
                <div class="featured-box-col1 wow fadeInRight delay-02s">
                    <i class="fa fa-magic"></i>
                </div>
                <div class="featured-box-col2 wow fadeInRight delay-02s">
                    <h3>Web Development</h3>
                    <p>We design the web site from front end to back end, with a database and a user dashboard, to
                        configure
                        whats important to you.</p>
                </div>
            </div>
            <div class="featured-box">
                <div class="featured-box-col1 wow fadeInRight delay-04s">
                    <i class="fa fa-gift"></i>
                </div>
                <div class="featured-box-col2 wow fadeInRight delay-04s">
                    <h3>neatly packaged</h3>
                    <p>The package will arrive as a repository, with a read me, to quickly jump start your website.
                        Hosting also available through subscription.</p>
                </div>
            </div>
            <div class="featured-box">
                <div class="featured-box-col1 wow fadeInRight delay-06s">
                    <i class="fa fa-dashboard"></i>
                </div>
                <div class="featured-box-col2 wow fadeInRight delay-06s">
                    <h3>SEO optimized</h3>
                    <p>Every site is SEO Optimized, rendered through the server. Just set it up and type in your meta
                        keys!</p>
                </div>
            </div>
            <a class="Learn-More" href="#portfolio">Learn More</a>
        </div>
    </div>
</div>