<header class="header" id="header"><!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#"><img src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/onhout-n.png" alt=""></a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Welcome to Onhout Inc</h1>
        <ul class="we-create animated fadeInUp delay-1s">
            <li>Digital marketing for the masses, resumes, and portfolios</li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" href="#service">Get Started</a>
    </div>
</header><!--header-end-->