<div class="container">
    <h2>Portfolio</h2>
    <h6>Below are a demo of our work</h6>
    {#    <div class="portfolioFilter">#}
    {#        <ul class="Portfolio-nav wow fadeIn delay-02s">#}
    {#            <li><a href="#" data-filter="*" class="current">All</a></li>#}
    {#            <li><a href="#" data-filter=".branding">Branding</a></li>#}
    {#            <li><a href="#" data-filter=".webdesign">Web design</a></li>#}
    {#            <li><a href="#" data-filter=".printdesign">Print design</a></li>#}
    {#            <li><a href="#" data-filter=".photography">Photography</a></li>#}
    {#        </ul>#}
    {#    </div>#}
    <div class="portfolioContainer text-center">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12 Portfolio-box wow bounceInLeft delay-01s">
                <a href="http://www.minajeong.com"><img
                        src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/minajeong_com_thumb.png" alt=""></a>
                <h3>Minajeong.com</h3>
                <p>A language learning website</p>
            </div>
            <div class="col-md-4 col-sm-4  col-xs-12 Portfolio-box wow bounceInDown delay-02s">
                <a href="http://portfo-onhout.rhcloud.com/"><img
                        src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/ghostcms_thumb.png" alt=""></a>
                <h3>Original onhout.com</h3>
                <p>Powered by Ghost CMS - A node.js CMS</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 Portfolio-box wow bounceInRight delay-03s">
                <a href="http://ecommerce-onhout.rhcloud.com/"><img
                        src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/ecommerce_thumb.png" alt=""></a>
                <h3>Ecommerce</h3>
                <p>A 2 y-o ecommerce website powered by codeigniter</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12  Portfolio-box wow bounceInLeft delay-01s">
                <a href="#"><img src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/railsmarket_thumb.png"
                                 alt=""></a>
                <h3>Rails Market</h3>
                <p>Two days from zero to something using RAILS</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12  Portfolio-box wow bounceInUp delay-02s">
                <a href="http://proplive.mkainc.com/index2.php"><img
                        src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/mkaintranet_thumb.png"
                        alt=""></a>
                <h3>MKA Inc</h3>
                <p>Madsen, Kneppers & Associates intranet website</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12  Portfolio-box wow bounceInRight delay-03s">
                <a href="https://lolapichallenge.herokuapp.com/"><img
                        src="https://s3-us-west-1.amazonaws.com/onhout/media/front_end/leaguehackathon_thumb.png"
                        alt=""></a>
                <h3>League Hackathon</h3>
                <p>League of Legends hackathon for the Black Market Brawlers event</p>
            </div>
        </div>


    </div>
</div>