{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
    <div class="container" style="padding: 50px 0;">
        <h1 class="text-center">{{ page.title }}</h1>
        <p><a href="{{ page.get_parent.url }}">Return to blog list</a></p>
        <p class="meta text-muted"><em>{{ page.date }}</em></p>

        {% for item in page.gallery_images.all %}
            <div class="text-center" style="margin: 10px;">
                {% image item.image fill-320x240 %}
                <p>{{ item.caption }}</p>
            </div>
        {% endfor %}
        <h3 class="intro text-center">{{ page.intro }}</h3>

        {{ page.body|richtext }}

    </div>
{% endblock %}