{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container">

        <div class="intro">{{ page.intro|richtext }}</div>

        {% for post in blogpages %}

            <div class="page-header">
                <h3><a href="{% pageurl post %}">{{ post.title }}</a>
                    <small><em> - {{ post.specific.intro }}</em></small>
                </h3>
                <p>{{ post.specific.body|truncatechars:300|richtext }}</p>
                <p><strong><em>Posted: {{ post.specific.date }}</em></strong></p>
            </div>

        {% endfor %}
    </div>
{% endblock %}

