{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="container" style="padding: 50px 0;">
        {% for post in blogpages %}

            <div class="media">
                {% image post.specific.feed_image fill-128x128 class="mr-3" %}
                <div class="media-body">
                    <h5 class="mt-0 page-title"><a href="{% pageurl post %}">{{ post.title|upper }}</a></h5>
                    {{ post.specific.body|truncatechars:300|richtext }}
                    <p><strong><em>Posted: {{ post.specific.date }}</em></strong></p>
                </div>
            </div>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}

