{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71450229-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script>
        function popitup(link) {
            var w = window.open(link.href,
                    link.target || "_blank",
                    'menubar=no,toolbar=no,location=no,directories=no,status=no,scrollbars=no,resizable=no,dependent,fullscreen=yes');
            return w ? false : true; // allow the link to work if popup is blocked
        }
    </script>
    <body style="background-color: {{ page.background_color }}">
    {% for item in page.gallery_images.all %}
        <a href="{{ item.aff_link }}" onclick="return popitup(this)">
            {% image item.image original class="img-responsive center-block" %}
        </a>
    {% endfor %}
    <div style="text-align: center; margin-top: 5px">
        <a href="{{ item.aff_link }}" onclick="return popitup(this)" class="btn btn-default"
           style="background-color: {{ page.background_color }};
                   padding: 15px 32px;
                   font-size: 32px;
                   text-align: center">
            <span style="color:{{ page.background_color }};filter:invert(100%);">{{ page.button_text }}</span>
        </a>
    </div>
    </body>

{% endblock %}