{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=1">

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-71450229-1', 'auto');
        ga('send', 'pageview');

    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        function popitup(link) {
            var w = window.open(link.href,
                    link.target || "_blank",
                    'menubar=no,toolbar=no,location=no,directories=no,status=no,scrollbars=no,resizable=no,dependent,fullscreen=yes');
            return w ? false : true; // allow the link to work if popup is blocked
        }
    </script>
    <body style="background-color: {{ page.background_color }}">
    {% for item in page.gallery_images.all %}
        <div style="width: 100%; height: auto; text-align: center">
            <a href="{{ item.aff_link }}" onclick="return popitup(this)">
                {% image item.image original %}
            </a>
        </div>
        <div style="text-align: center; margin-top: 5px">
            <a href="{{ item.aff_link }}" onclick="return popitup(this)"
               style="background-color: {{ page.background_color }};
                       border:1px solid white;
                       color:white;
                       padding: 15px 32px;
                       display:inline-block;
                       text-decoration: none;
                       font-size: 32px;
                       text-align: center">{{ page.button_text }}</a>
        </div>

    {% endfor %}
    </body>

{% endblock %}